@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0vw;
    padding: 0vh;
    box-sizing: border-box;
}

body,html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
    overflow: hidden
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    position: sticky;
    background-color: black;
    z-index: 1;
}

.cross {
    display: none;
    float: left;
    background-color:white;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}
.nav-item1 {
    margin-left: 76rem;
    float: right;
    font-size: 25px;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
}

.nav-link:hover{
    color: #e7e7e7;
}

.nav-logo {
    margin: 0px -430px 0px 0px;
}

.container {
    display: flex;
    justify-content: flex-start;
    grid-template-columns: auto auto auto;

}

.thumbnails {
    display: flex;
    flex-direction: column;
    line-height: 0;
    z-index: -2;
}

.thumbnails li {
    height: 18vh;
}

.thumbnails a {
    display: block;
}

.thumbnails img {
    width: 30vmin;
    height: 20vmin;
    object-fit: cover;
    object-position: top;
}

.slides {
    overflow: hidden;
    width: 75vmin;
    height: 100vmin;
    z-index: -1;
}

.slides li {
    width: 75vmin;
    height: 100vmin;
    position: absolute;
    z-index: 1;
}

.slides img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.right {
    margin: 20px 0px 0px 25px;
}

#p0 {
    font-size: 3vw;
}

#p1 {
    font-weight: 100;
    font-size: 2.2vw;
    margin: 15px 0px 0px 0px;
}

.p {
    display: flex;
    margin: 25px 0px 0px 30px;
    font-size: 40px;
    font-weight: 100;
}
}

#p20 {
    font-size: 1.8vw;
}

#p21 {
    font-size: 2.5vw;
    text-decoration: line-through;
}

#p3 {

    margin: 13px 0px 0px 32px;
    font-size: 4.5vw;
}

#p4 {

    font-size: 4vw;
    margin: 5px 0px 10px 32px;
}
#p5 {
    width: 85%;
    height: 6%;
    font-size: 25px;
    margin: 10px 35px 10px 50px;
    background-color: yellow;
}

.right-buttom {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0px;
    padding: 0px;
}

.right-buttom>div {
    text-align: center;
    font-size: 30px;
}

.row {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 0px;
    padding: 0px;
    margin-top: 10px;
}

.row>div {
    text-align: center;
    padding: 0px 0;
    font-size: 1.5vw;
}

.slides li:target {
    z-index: 3;
    -webkit-animation: slide 1s 1;
}

.slides li:not(:target) {
    -webkit-animation: hidden 1s 1;
}

@keyframes slide {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes hidden {
    0% {
        z-index: 2;
    }

    100% {
        z-index: 2;
    }
}

@media only screen and (max-width: 768px) {
    
    .navbar{
        position: sticky;
    }
    body,html {
        font-size: 62.5%;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        height: 100%;
        overflow: scroll;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }
    .nav-item1 {
        margin-left: 40rem;
        float: right;
        font-size: 25px;
    }
    .navbar a {
        text-align: center;
        justify-content: center;
    }

    .cross {
        position: absolute;
        display: block;
        cursor: pointer;
    }

    .cross.active .bar:nth-child(2) {
        opacity: 0;
    }

    .cross.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .cross.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    .container{
        display:block;
    }
    .slides {
        overflow: hidden;
        width: 100vmin;
        height: 100vmin;
        z-index: -1;
    }
    .slides li {
        width: 100vmin;
        height: 100vmin;
        position: relative;
        z-index: 0;
    }
    .thumbnails {
        display: none;
    }
    .right {
        margin: 15px 0px 0px 15px;
    }
    
    #p0 {
        font-size: 4vw;
    }
    
    #p1 {
        font-weight: 100;
        font-size: 4.9vw;
        margin: 15px 0px 0px 0px;
    }
    
    .p {
        display: flex;
        margin: 25px 0px 0px 20px;
        font-size: 40px;
        text-align: center;
        font-weight: 100;
    }
    
    
    #p20 {
        
        font-size: 3vw;
    }
    
    #p21 {
        font-weight: 100;
        font-size: 3vw;
        text-decoration: line-through;
    }
    
    #p3 {
    
        margin: 13px 0px 0px 20px;
        font-size: 6vw;
    }
    
    #p4 {
    
        font-size: 6vw;
        margin: 10px 0px 25px 20px;
    }
    
    #p5 {
        display: none;
    }
    
    .right-buttom {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 0px;
        padding: 0px;
        margin-left: -20px;
    }
    
    .right-buttom>div {
        text-align: center;
        font-size: 30px;
    }
    
    .row {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 0px;
        padding: 0px;
        margin-top: 10px;
    }
    
    .row>div {
        text-align: center;
        padding: 0px 0;
        font-size: 4vw;
    }
    
}